<div class="form-group">
  <label>Naam stap</label>
  <%= f.text_field :title, placeholder: "Stap", class: "form-control" %>
</div>
<div class="form-group">
  <label>Beschrijving</label>
  <%= f.text_area :description, placeholder: "Type hier een korte omschrijving...", class: "form-control intro" %>
</div>
<div class="form-group">
  <label>Bereidingstijd</label>
  <%= f.number_field :cooking_time, class: "form-control" %>
</div>
