<div class="nested-fields">
  <div class="form-group ingredients">
    <div class="quantity">
      <label>Hoeveelheid</label>
      <div class="ingredient-qnt">
        <%= f.text_field :amount, class: "form-control" %>
      </div>
    </div>
    <div class="ingredient-name">
      <label>Naam</label>
      <div class="name">
        <%= f.select(:product_id, Product.all.collect {|p| [ p.name, p.id ] }, { include_blank: true }) %>
      </div>
    </div>
    <div class="optional">
      <label>Optioneel?</label>
      <%= f.check_box :optional %>
    </div>
    <%= link_to_remove_association "Verwijder ingrediënt", f %>
  </div>
</div>
