<%= image_tag ("RosaFaber.jpg") %>

<h2>Over Rosa Faber</h2>
<h3>I love food</h3>
<p>Ik ben opgegroeid in een gezin waar eten altijd een belangrijke rol heeft gespeeld. Gezond eten dat voedt en vult, met liefde bereidt. Hiermee heb ik heel veel geluk gehad, want de basis was gelegd. Maar eten was voor mij altijd al een beetje meer.  Als mijn ouders in de keuken stonden, stond ik er het liefst op een krukje naast en hielp ik als dat mocht.  Mijn eerste kookschriftje maakte ik toen ik zes was, maar pas jaren later heb ik zelf echt leren koken. Dankzij mijn leergierigheid en honger naar lekker en gezond eten en de vele informatie die beschikbaar is, heb ik veel ervaring opgedaan in de keuken.</p>

<h3>Mijn ervaring</h3>
<p>Toen ik 20 was zag ik mijzelf geen kok worden, maar tijdens mijn studie Cultureel Erfgoed kwam ik er achter dat ik echt liever achter het fornuis stond dan in de boeken zat. Het was niet dat ik mijn studie niet leuk vond, maar eten en koken intrigeerde mij nog meer. Ik heb toen mijn studie verruild voor een stage in de keuken en ben tegelijk begonnen met het schrijven van recepten. Kort daarna ben ik begonnen met Roos kookt en heb ik een aantal jaren ervaring als cateraar, taartenbakker en chef van mijn gezin. Nu is het tijd mijn recepten, kennis en tips met jullie te delen in een superhandig mobiele app. </p>

<h3>Handig hulpje</h3>
<p>Ik hoop dat de recepten en informatie op de site en in de app een een handig hulpmiddel voor je kunnen zijn, bijvoorbeeld als je het erg druk hebt, maar stiekem onder werktijd even wat inspiratie op wilt doen voor het avond eten. De ingrediënten zet je dan op de boodschappenlijst en onderweg naar huis haal je je boodschappen. Thuis maak je dan in ongeveer een half uurtje stap voor stap een gezonde lekkere maaltijd.</p>

<h3>Zoek en combineer</h3>
<p>Heb jij bietjes in de groentela en wil je dar iets mee doen, gebruik dan de zoekfunctie voor alle resultaten. Maar sorteren op alleen vega, vegan of vis kan natuurlijk ook. Er zijn ok combineer suggesties te zien bij sommige gerechten, zodat je je maaltijd kan uitbreiden. </p>

<h3>Vegetarisch, vegan en vis</h3>
<p>Waarom allemaal? Ik denk dat het gezond is om voornamelijk plantaardig te eten, maar dat een beetje vis en eieren een goeie toevoeging is. Daarom zijn de meeste gerechten vegan, sommige vegetarisch en een paar met vis. Alles met de beste ingrediënten en geen kunstmatige toevoegingen, pakjes en zakjes. Een stortcut hier en daar maakt het leven soms wel zo makkelijk, we zijn bijvoorbeeld  gek op bonen uit blik.</p>

<p>Start cooking!</p>

<h3>We love baking</h3>
<p>Taarten , koekjes, cakes die hoeven we echt niet te laten staan! Zeker niet als je ze zonder suiker bakt. In geen van de recepten gebruik ik gewone geraffineerde suiker, wel zoetmiddelen zoals ahornsiroop, rijststroop en gedroogd fruit. De zoete recepten zijn trouwens allemaal vegan, maar niemand die dat merkt ;-)</p>

<p>Start baking!</p>
