.recipes-overview {
  padding: 20px;
}

.recipes-intro {
  margin-bottom: 20px;
}

.recipes-container {
  margin-top: 50px;
}

.recipes-container h2 {
  margin-bottom: 15px;
}

.recipe-card {
  margin-top: 20px;
  margin-bottom: 20px;
}
.recipe-card h3 a {
  color: #fbde5b;
}

.recipe-actions {
  width: 12%;
  display: flex;
  justify-content: space-between;
}

.recipe-actions p {
  margin-right: 10px;
}

form {
  padding: 20px;
}

.form-group h2 {
  color: #1a8696;
}

.form-control.intro {
  height: 100px
}

.form-group.time-person {
  display: flex;
  justify-content: space-between;
}

.cooking-time {
  width: 40%;
}

.amount-people {
  width: 40%;
}

.time {
  display: flex;
}

.time input {
  margin-right: 10px;
}

.time.cookingstep {
  display: flex;
  flex-direction: column;
  width: 31%
}

.people {
  display: flex;
}

.people input {
  margin-right: 10px;
}

.form-group.ingredients {
  display: flex;
  justify-content: space-between;
  padding-top: 0px;
}

.quantity {
  width: 31%;
  margin-right: 20px;
}

.ingredient-name {
  width: 31%;
}

.name {
  margin-right: 20px;
}

.optional {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.actions {
  text-align: right;
}

.form-group.step {
  display: flex;
  justify-content: space-between;
}

.remove {
  margin-top: 30px;
}

.general.time-persons {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.general.time {
  display: flex;
}

span.glyphicon {
  margin-right: 10px;
}

.general.persons {
  display: flex;
}

select {
  height: 34px;
  background-color: #fff;
}
