.recipes-overview {
  padding: 20px;
}

.recipes-intro {
  margin-bottom: 20px;
}

.recipes-container {
  margin-top: 50px;
}

.recipes-card {
  display: flex;
}

.recipe-actions {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

form {
  padding: 20px;
}

.form-group h2 {
  color: #1a8696;
}

.form-control.intro {
  height: 100px
}

.form-group.time-person {
  display: flex;
  justify-content: space-between;
}

.cooking-time {
  width: 40%;
}

.amount-people {
  width: 40%;
}

.time {
  display: flex;
}

.time input {
  margin-right: 10px;
}

.people {
  display: flex;
}

.people input {
  margin-right: 10px;
}

.form-group.ingredients {
  display: flex;
  justify-content: space-between;
  width: 70%;
  padding-top: 0px;
}

.quantity {
  width: 20%;
  margin-right: 20px;
}

.ingredient {
  width: 60%;
  margin-right: 20px;
}

.optional {
  width: 20%;
}

.actions {
  text-align: right;
}
