form {
  padding: 20px;
}

.form-group h2 {
  color: #1a8696;
}

.form-control.intro {
  height: 100px
}

.form-group.time-person {
  display: flex;
  justify-content: space-between;
}

.cooking-time {
  width: 40%;
}

.amount-people {
  width: 40%;
}

.time {
  display: flex;
}

.time input {
  margin-right: 10px;
}

.people {
  display: flex;
}

.people input {
  margin-right: 10px;
}

.form-group.ingredients {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.quantity {
  width: 20%;
  margin-right: 20px;
}

.ingredient {
  width: 60%;
  margin-right: 20px;
}

.optional {
  width: 20%;
}
