/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree ./admin
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import "admin/variables";

body {
  background-color: $bg-body;
  color: $text-color;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 1.18pt;
  font-size: 14pt;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #4a4a4a;
  min-height: 8vh;
  border-bottom: 1px solid #000;
  color: #1a869a
}

header h1 {
  margin: 0;
  padding: 2vh;
  text-align: center;
}

header h1 a, h1 a:active, h1 a:visited, h1 a:hover {
  color: #fff;
  text-decoration: none;
}

main {
  flex: 1;
  display: flex;
  flex-direction: row;
}

nav {
  padding: 20px;
  min-width: 200px;
  border-right: 1px solid black
}

nav ul {
  padding: 0px;
}
nav li {
  margin: 20px 0px;
  padding: 20px;
  list-style-type: none;
  text-align: center;
}

nav span.glyphicon {
  font-size: 1.6em;
}

a {
  color: #1a8696;
}

.btn-primary {
  border-color: #1a8696;
  background-color: #1a8696;
}

.btn-primary:hover {
  border-color: #24a2b5;
  background-color: #24a2b5;
}

#content {
  flex: 1;
  padding: 30px;
}

h1 {
  color: $heading-text-color;
}

h2 {
  margin-top: 10px;
  color: #1a8696;
}
