<div class="nav">
  <ul>
    <li>
      <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
      <p>Overzicht</p>
    </li>
    <li>
      <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>
      <p>Recepten</p>
    </li>
    <li>
      <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
      <p>Categoriën</p>
    </li>
    <li>
      <span class="glyphicon glyphicon-apple" aria-hidden="true"></span>
      <p>Ingrediënten</p>
    </li>
  </ul>
</div>
