<div class="nav">
  <ul>
    <li>
      <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
      <p><%= link_to "Overzicht", admin_session_path %></p>
    </li>
    <li>
      <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>
      <p><%= link_to "Recepten", admin_recipes_path %></p>
    </li>
    <li>
      <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
      <p><%= link_to "Categoriën", admin_categories_path %></p>
    </li>
    <li>
      <span class="glyphicon glyphicon-apple" aria-hidden="true"></span>
      <p><%= link_to "Ingrediënten", admin_products_path %></p>
    </li>
  </ul>
</div>
